/* BASE STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PAGE STYLES */

.wrapper {
  width: clamp(20rem, 90%, 50rem);
  margin: 0 auto;
  height: 100%;
}

.container {
  width: 100%;
  height: 30rem;
  padding: 1rem;
}

/* SLIDER STYLES */

.max-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.max-slider__arrow-right,
.max-slider__arrow-left {
  position: absolute;
  width: 3.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.max-slider__arrow-left {
  left: 2.5rem;
}

.max-slider__arrow-right {
  right: -1rem;
}

.max-slider__arrow-right:active,
.max-slider__arrow-left:active {
  background-color: red;
}

.max-slider__images-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
}

.max-slider__images-container:active {
  cursor: grabbing;
}

.max-slider__images-container--transition {
  transition: all 0.25s ease 0s;
}

.max-slider__image {
  height: 100%;
  z-index: -1;
}

.max-slider__dots-container {
  width: 100%;
  flex-wrap: wrap;
  padding: 0 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}

.max-slider__dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid greenyellow;
}

.max-slider__dot--active {
  background-color: green;
}

/* Hover events only for desktop */
@media (hover: hover) {
  .max-slider__dot:hover {
    cursor: pointer;
    background-color: greenyellow;
  }
}